[{elvis,
    [{config,
       [#{dirs => ["src"],
           filter => "cli_console_output.erl",
           rules => [{elvis_style, no_debug_call, disable}],
           ruleset => erl_files
         },
         #{dirs => ["src"],
          filter => "*.erl",
          ruleset => erl_files,
          ignore => [cli_console_output]
        },
        #{dirs => ["."],
          filter => "rebar.config",
          ruleset => rebar_config
        }
       ]
    }]
}].