{erl_opts, [debug_info]}.
{deps, [
]}.

{cover_enabled, true}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [cli_console]}
]}.

{plugins, [rebar3_proper]}.

{profiles,[{test,[{erl_opts,[]},
                  {deps,[proper, meck]}]}]}.

{alias,[{test,[eunit,
               {ct,"--name ct --sys_config=config/sys.config --readable true --cover --verbose true"},
               {proper, "-n 1000"},
               dialyzer]}]}.